@model CustomerAPI.Models.Customer

@{
    List<SelectListItem> titles = new List<SelectListItem>
    {
        new SelectListItem { Value = "Mr", Text = "Mr" },
        new SelectListItem { Value = "Mrs", Text = "Mrs" },
        new SelectListItem { Value = "Miss", Text = "Miss" },
        new SelectListItem { Value = "Ms", Text = "Ms" }
    };   
}

<div class="panel-body" style="background-color:white; padding-left:15px; padding-right:15px; border: 0;">

    <div class="form-group row">
        <div class="col-md-12"><h4>Update Customer details</h4></div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel massa quis est posuere maximus non et diam. Nulla facilisis orci in mauris suscipit, eget luctus nulla consequat. Nunc gravida justo interdum, scelerisque nunc ut, mollis tellus.
        </div>
    </div>
    <div class="form-group row" style="margin-top:20px">

        <div class="col-md-12">
            <form asp-action="EditCustomer" method="post">
                <!-- Hidden Field for Customer ID -->
                <input type="hidden" asp-for="customerId" />

                <div class="row">
                    <div class="col-sm-5">
                        <select asp-for="customerTitle" class="form-control" asp-items="titles" required>
                            <option value="-1">-- Select Title --</option>
                        </select>
                        <span asp-validation-for="customerTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input class="form-control input-sm" type="text" placeholder="First Name" asp-for="customerFirstName" required />
                        <span asp-validation-for="customerFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input class="form-control input-sm" type="text" placeholder="Last Name" asp-for="customerLastName" required />
                        <span asp-validation-for="customerLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <b>Contact Details</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="email" placeholder="Email Address" asp-for="customerEmail" required />
                        <span asp-validation-for="customerEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <input class="form-control input-sm" type="text" placeholder="Telephone No." asp-for="customerTelephone" required />
                        <span asp-validation-for="customerTelephone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <b>Address Details</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" placeholder="Address Line 1" asp-for="customerAddr1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" placeholder="Address Line 2" asp-for="customerAddr2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <input class="form-control input-sm" type="text" placeholder="Town" asp-for="customerTown" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control input-sm" type="text" placeholder="Postcode" asp-for="customerPostcode" />
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-sm btn-success">Save Changes</button>&nbsp;
                    <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-grey">Back</a>
                </div>
            </form>
        </div>

    </div>

</div>

